@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face 
{
    font-family: 'Comfortaa', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face 
{
    font-family: 'Bubblegum';
    src: url('../Fonts/Bubblegum.ttf');
}

@font-face 
{
    font-family: 'CreamCake';
    src: url('../Fonts/CreamCake.otf');
}

@font-face 
{
    font-family: 'MilkyBoba';
    src: url('../Fonts/MilkyBoba.otf');
}

@font-face 
{
    font-family: 'BeautyAndTheBeast';
    src: url('../Fonts/Beauty and the Beast Sample.otf');
    src: url('../Fonts/Beauty and the Beast Sample.ttf');
}

:root {
    --main: #f46fa5;
    --almostMain: #f598be;
    --alt: #ffbdd8;
    --altlight: #f3eafa;
    --dark: #eb4f8e;
    --darker: #f9609e;
    --darkest: #ff418e;
    --mostdark: #6b1035;
    --light: #ffbdd857;
    --text: #8e217f;
    --lightt: #45103e36;
    --lighter: #d7b8f2;
    --lightdark: #a91d95;
    --opacity: #f598be8c;
    --alty: #ffd8e8;
    --trans:transparent;
}


#content
{
	margin: 0 auto;
	width:70%;
	/*background: #ffe1f1;*/
	background-color: #f2f2f2;
	padding:0 3em;
	position: relative;
	top:0;
	bottom: 0;
	padding-bottom:5em;
	border:.0125em solid #F69B9A;
	border-top:none;
	border-bottom:none;
	box-shadow:inset 0 -50px 75px var(--alty), 0 0 175px var(--almostMain);;
	margin-top: 48px;
	z-index: 2;
}

h1
{
	text-align: center;
	font-size:4rem;
	font-weight: bold;
	padding: .3em 0;
	font-family: MilkyBoba;
	color:var(--main);
	font-weight:bold;
	text-shadow:.01em .01em var(--mostdark);
	
}

h2
{
	font-family: MilkyBoba;
	color:var(--main);
	font-weight:bold;
	text-shadow:.025em .025em var(--mostdark);
	letter-spacing:.1rem;
}

.at
{
	font-family: Bubblegum;
	font-size:3rem;
}


img 
{
	max-width: 100%;
}

#mainImage
{
	max-height: 75vh;
	border-radius:.5em;
	box-shadow: .15em .15em .4em var(--mostdark), 0 0 2em var(--mostdark);
}

#mainImageHolder
{
	display: flex;
	justify-content: center;
}

#ingredientsContainer h2,
#directionsContainer h2
{
	text-align:center;
	font-size: 2.5rem;
	font-weight: bold;
	padding: .3em 0;
	margin:.5em auto;
	margin-bottom: 0;

}

#ingredientsContainer td
{
	border: 1px solid var(--darker);
	padding:.75em;
	padding-left:1em;
	vertical-align: middle;
}

table 
{
	width:fit-content;
	background: #faf5f8;
	box-shadow:.25em .25em .5em var(--almostMain);
	
}

.tableContainer
{
	width:100%;
	display:flex;
	justify-content: center;
	padding-top:.5em;
	overflow:visible;
}

td:first-child
{
	font-weight:bold;
	color:var(--darkest);
	background-color:  var(--alty);
}

.tableStyle
{
	display:flex;
	justify-content: center;
}

.number
{
	color: red;
	font-weight: bold;
}





.fraction
{
	font-size:1rem;
	font-family: 'Montserrat', sans-serif;
}

#directionsListContainer
{
	display: flex;
	justify-content: center;
}


.highlight
{
	color: var(--darkest);
	font-weight:bold;
}

.disclaimer
{
	color:red;
	font-size:.75rem;
	font-style: italic;
	font-weight:bold;
}

.disclaimer::before{
	content: "( ";
}

.disclaimer::after{
	content: " )";
}


#mainImageHolder{
	position:relative;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -1.3750em;
	padding: 1em;
	color: var(--darkest);
	font-weight: bold;
	font-size: 1.375rem;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}



.mySlides img
{
	max-width: 85%;
}

.mySlides{
	text-align: center;
}


/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev
{
	left: 0;
	border-radius: 3px 0 0 3px;
}

@media screen and (min-width: 0px) and (max-width: 600px)
{
    .prev{
    	left:-9%;

    }

    .next{
    	right:-9%;
    }

    h1
    {
    	font-size:2rem;
    	line-height: 2rem;
    }

    body
    {
    	font-size: .75rem;
    	line-height: 1.125rem;
    }

}

@media screen and (min-width: 600px) and (max-width: 1020px)
{
    .prev{
    	left:-6%;

    }

    .next{
    	right: -6%;
    }

}

.prev:hover, .next:hover,
.prev:focus, .next:focus {
  background-color: var(--main);
  color:white;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 1em;
  width: 1em;
  margin: 0 2px;
  background-color: var(--alt);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: var(--darkest);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/* Hide the browser's default checkbox */
td input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -6px;
  left: -3em;
  height: 25px;
  width: 25px;
  background-color: #eee;
  margin-left: .75em;
  border: 1px solid var(--darkest);
  box-shadow: .05em .05em .1em var(--darkest);
}

.container
{
	display: flex;
	justify-content: center;
	position: relative;
	top: 0;
	left: 0;
	padding: 0 .75em;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: var(--main);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--main);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after,
.container input:hover ~ .checkmark:after {
  display: block;
}

.container *{
	transition: .3s;
	transition-timing-function: ease-in-out;
}


/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}









#directionsContainer td
{
	padding:1.25em;
	padding-left:1em;
}

#directionsContainer td:first-child
{
	background-color:  var(--alty);
	border-right: 1px solid var(--dark);
	vertical-align: middle;
}

#directionsContainer table
{
	border:  1px solid var(--dark);
}

#directionsContainer tr:nth-child(even)
{
	background-color:  var(--light);
	border-top: 1px solid var(--darkest);
	border-bottom:  1px solid var(--darkest);
}

#directionsContainer td:first-child
{
	padding: 0;
	width: 32px;
}

.completed
{
	opacity: .35;
	text-decoration: line-through;
}


#descriptionContainer
{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

@media screen and (min-width:1020px)
{
	#descriptionContainer
	{
		flex-wrap: nowrap;
	}
}

#descriptionContainer blockquote
{
	width: 75%;
	background:  var(--light);
	padding: 1.5em 2em;
	line-height: 1.35rem;
	box-shadow: 0 0 1em var(--main);
	border: 1px solid var(--almostMain);
}

#descriptionContainer blockquote::first-letter{
	font-size: 2.5rem;
	font-family: creamCake;
	letter-spacing: .25rem;
	color: var(--darkest);
}

@media screen and (min-width: 0px) and (max-width: 600px)
{

	.checkmark{
		display:  none; 
	}

	#buttonContainer
	{
		display:  none; 
	}
}

@media screen and (min-width: 0px) and (max-width: 750px)
{

	#buttonContainer
	{
		display:  none; 
	}
}


#btn--back
{
  position: absolute;
  z-index: 100;
  top: 14px;
  left: 18px;
  font-size: 50px;
  color: white;
  text-shadow: .3rem 0 black;
  transition: .2s;
}

#buttonContainer:hover #btn--back
{
	transform: translateX(-3px);
}

#buttonContainer:hover{
	transform: scale(1.01);
	box-shadow: inset .5em .5em 1em var(--main), 0 0 2em #fff, .2em 0 .35em var(--mostdark);
}

#buttonContainer{
  background:  var(--alt);
  width: 75px;
  height: 75px;
  position: fixed;
  left: 25px;
  top: 75px;
  border-radius: 150px;
  box-shadow: inset .5em .5em 1em var(--main), 0 0 2em #fff, .1em 0 .25em var(--mostdark);
  border:  1px solid var(--main);
  cursor: pointer;
  user-select: none;
  z-index: 100;
  transition: .3s;

}


.scrollToTopBtn {
  background-color: var(--alt);
  border: 1px solid var(--main);
  box-shadow: inset .25em .25em .5em var(--main), 0 0 2em #fff, .1em 0 .25em var(--mostdark);
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 48px;
  width: 48px;
  bottom: 30px;
  right: 16px;
  position: fixed;
 	opacity: 0;
 	transform: translateY(100px);
 	transition: all .5s ease;
 	text-shadow:  0 .1rem black;
 	z-index: 100;
 	
}

.scrollToTopBtn i
{
	transition: .3s;
}

.scrollToTopBtn:hover i
{
	transform: translateY(-3px);
}

.scrollToTopBtn:hover
{
	box-shadow: inset .25em .25em .5em var(--main), 0 0 2em #fff, .2em 0 .35em var(--mostdark);
}


.showBtn {
  opacity: 1;
  transform: translateY(0)
}




.double
{
	margin-top:2em;
	padding-left:.25em;
	padding-right:.25em;
	background:rgba(246, 223, 233, 0.85);
	box-shadow:inset 0 0 1em var(--alt), 0 0 .25em var(--almostMain);
	overflow: hidden;
	animation:none;
}

@keyframes bgChange{
	0%{background: rgba(246, 223, 233, 0.85); box-shadow: inset 0 0 1em var(--alt), 0 0 .25em var(--almostMain);}
	50%{background: rgba(246, 223, 233, 0.25); box-shadow: inset 0 0 1em var(--alt), 0 0 .25em none;}
	100%{background:transparent; box-shadow: none;}
}

.bgChange
{
	animation: bgChange 4s;
	background:transparent;
	box-shadow: none;

}

@keyframes bgChangeReverse{
	0%{background:transparent; box-shadow: none;}
	50%{background: rgba(246, 223, 233, 0.25); box-shadow: inset 0 0 1em var(--alt), 0 0 .25em var(--light);}
	100%{background: rgba(246, 223, 233, 0.85); box-shadow: inset 0 0 1em var(--alt), 0 0 .25em var(--almostMain);}
}

.bgChangeReverse{
	animation: bgChangeReverse 4s;
}




.double th{
	padding: .5rem 0;
	background: var(--alt);
	color:var(--darkest);
	border: 1px solid var(--darker);
	font-size:1.15rem;
	box-shadow:inset 0 0 .4em var(--almostMain);
	font-weight: bold;
}

.tablesContainer
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.double .tableContainer{
	width: auto;
	margin:.5em .8em;

}

.double table{
	height: fit-content;
}

.directions tr td{
	line-height:1.5rem;
}

.ornament
{
  font-family: BeautyAndTheBeast;
  padding: 0 .5rem;
}

.collapseIngredients,
.collapseDirections
{
  border:none;
  font-weight:bold;
  color:red;
  letter-spacing: .25em;
  background: transparent;
  font-size:1.15rem;
	padding-left:1em;
	transform: translateY(-4px);
}

.collapseIngredients:hover,
.collapseDirections:hover
{
	cursor: pointer;
}

#ingredientsContainer,
#directionsContainer
{
	position: relative;
}

#ingredientsContainer h2,
#directionsContainer h2{
	display:flex;
	justify-content: center;
	padding-left:56px;
}

@media screen and (min-width: 0px) and (max-width: 600px)
{
	.collapseIngredients
	{
		padding-left: .5em;
	}

	#ingredientsContainer h2
	{
		padding-left:40px;
	}

}

/*	height:5px;*/
/*	transition: 2s;*/

/*@keyframes heightShrink{
	0%{height:fit-content}
	20%{height:100px}
	40%{height:75px}
	60%{height:50px}
	80%{height:25px}
	100%{height:0px}
}*/

.tableContainer{
	padding-top:0;
}

/* The Modal (background) */
.modalCG {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 500; /* Sit on top */
    padding-top: 75px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    

}

.modal-headerCG h1
{
	font-size: 1.5rem;
	margin-bottom: .5em;
	white-space: nowrap;
	text-shadow: .025em .025em var(--mostdark);
	
}

@media screen and (min-width: 0px) and (max-width: 850px)
{
	.modal-headerCG h1
	{
		font-size:1.5rem;
	}

	.modal-headerCG p
	{
		font-size: .75rem;
	}
}

@media screen and (min-width: 850px) and (max-width: 1020px)
{
	.modal-headerCG h1
	{
		font-size:1.75rem;
	}

	.modal-headerCG p
	{
		font-size: .85rem;
	}
}

@media screen and (min-width: 1020px)
{
	.modal-headerCG h1
	{
		font-size:2.25rem;
	}

	.modal-headerCG p
	{
		font-size: 1rem;
	}
}


.modal-headerCG p
{
	text-align: center;
}

.modal-contentCG
{
  width: 40%;
  height: 20vh;
  background:#fff;
  margin: auto;
  position: relative;
  padding: 1em;
  border: 1px solid var(--main);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  height: fit-content;
  box-shadow: inset 0em .25em .75em var(--alt);
  min-width: 300px;
}

#linkHolder
{
	display:flex;
	justify-content: center;
	padding-top:1em;
}

#linkholder div
{
	position: relative;
}

#urlFill
{
	background:var(--alty);
	border: 1px solid var(--main);
	padding:.5em 1em;
	font-size:1rem;
}

#copyLink
{
	background:var(--main);
	white-space: nowrap;
	border: 1px solid var(--main);

}

#copyLinkButton
{
	width:100%;
	height:100%;
	background:transparent;
	border:none;
	color:#fff;
	text-shadow: .05em .08em black;
	font-weight:bold;
	font-family: 'Comfortaa', sans-serif;
}

#copyLinkButton:hover{
	cursor: pointer;
}

.checkmark:hover
{
	cursor: pointer;
}

#actions
{
	display: flex;
	position: relative;
	justify-content: space-around;
	flex-direction: column;
}

#actions button,
#actions a
{
	position: relative;
	height:33.33%;
	background-color: var(--alt);
	border:1px solid var(--main);
	border-left:none;
	box-shadow: 0 0 1em var(--main), inset -.5em .5em 3em var(--alty);
	padding: 0 1em;
	font-weight:bold;
	font-family: "comfortaa";
	color:var(--darkest);
	transition:.6s;
	transition-timing-function: ease-out;
	letter-spacing: .065em;
}

#actions a
{
	vertical-align: middle;
}

#actions button:first-child
{
	height:100%;
	border-bottom: none;
	width:100%;
}



#actions button:hover
{
	background-color: var(--almostMain);
	color:var(--mostdark);
	cursor: pointer;
	box-shadow: 0 0 1em var(--main), inset -.5em .5em 3em var(--main);
}


#actions a:first-child{
	border-bottom: none;
}

#actions button:last-child{
	border-top:none;
}

#actions button:hover a
{
	color:var(--mostdark);
	text-decoration: none;
}

#actions button a
{
	color:var(--darkest);
	text-decoration: none;
}

a#downloadLink
{
	padding:0;
}



@media screen and (min-width: 0px) and (max-width: 1020px)
{
	#descriptionContainer blockquote{
		margin-bottom:2em;
	}

	#actions a:first-child
	{
		border-top:none;
		border-right:none;
	}

	#actions a{
		box-shadow:none;
	}

	#actions button:first-child
	{
		border-bottom: 1px solid var(--main);
	}

	#actions button:last-child
	{
		border-top: 1px solid var(--main);
	}

	#actions button
	{
		border-left:1px solid var(--main);
		width:25%;
		height: fit-content;
		box-shadow: none;
		padding:1em .5em;
		
	}


	#actions a{
		height: fit-content;
	}

	#actions{
		width:100%;
		flex-direction: row;
	}
}

#timeTitle
{
	background-color: red;
}

#cookTime
{
	display: flex;
	position:relative;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom:3em;
/*	margin-top:3em;*/
}

#cookTime button
{
	position: relative;
	background-color: var(--alt);
	border:1px solid var(--main);
	border-left:none;
	box-shadow: -.125em 0 1em var(--main);
	padding: 0 1em;
	font-weight:bold;
	font-family: "comfortaa";
	color:var(--darkest);
	transition:.6s;
	transition-timing-function: ease-out;
	letter-spacing: .065em;
}

@media screen and (min-width: 0px) and (max-width: 600px)
{
	#cookTime button
	{
		width: 100%;
		border-left: 1px solid var(--main);;
	}

	#cookTime{
		padding:0 2em;
	}


}



#cookTime button:first-child
{
	background-color: var(--dark);
	color:#fff;
	text-shadow: .05rem .05rem #000;
	box-shadow: -.125em 0 1em var(--main), inset -.5em .5em 3em rgba(0, 0, 0, .2) ;
	font-size:1rem;
	padding:0 2em;


}

#cookTime button:last-child
{
	background-color: var(--alt);
	padding:0 2em;
	padding-top:.35em;
}

.circle{
	background: #fff;
	padding: 0;
	font-size: 1.75rem;
	line-height: 3em;
/*	padding-top:.75em;*/
	border-radius: 100%;
	
	
}

#circleContainer
{
	background:#fff;
	border-radius: 100%;
	border: 1px solid var(--main);
	box-shadow:inset 0 0 .3em var(--alt), 0 0 .3em rgba(0, 0, 0, .1);
	width: 75px;
	height: 75px;
	text-align: center;
	margin: auto;
}

#timeTime{
	font-size:1.15rem;
}

#timeTitle{
	line-height: 1.5em;
}

#descriptionContainer{
		margin-bottom:3em;
	}

@media screen and (min-width: 1020px)
{
	#cookTime button:last-child{
		padding: 0 .5em;
		border-left:1px solid var(--main);
		border-right:none;
	}

	#cookTime button:first-child{
		padding: 0 1em;

	}

	#cookTime button{
		width:120px;
	}

	#cookTime{
		margin:0;
/*		margin-right:2em;*/
		width:120px;
		order:1;

	}

	blockquote{
		order:2;
	}

	#actions{
		order:3;
	}

	#actions button{
/*		border-left: 1px solid var(--main);*/
	}

	#descriptionContainer{
		margin-bottom:3em;
	}

}

@media screen and (min-width: 0px) and (max-width: 600px)
{

	#cookTime button:last-child
	{
		background-color: var(--alt);
		padding-bottom:.5em;
	}

	#cookTime button:first-child
	{
		padding:.75em 2em;
	}
}

