@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face 
{
    font-family: 'Comfortaa', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face 
{
    font-family: 'Bubblegum';
    src: url('Fonts/Bubblegum.ttf');
}

@font-face 
{
    font-family: 'BeautyAndTheBeast';
    src: url('Fonts/Beauty and the Beast Sample.otf');
    src: url('Fonts/Beauty and the Beast Sample.ttf');
}

@font-face 
{
    font-family: 'CreamCake';
    src: url('Fonts/CreamCake.otf');
}


:root {
    --main: #f46fa5;
    --almostMain: #f598be;
    --alt: #ffbdd8;
    --altlight: #f3eafa;
    --dark: #eb4f8e;
    --darker: #f9609e;
    --darkest: #ff418e;
    --mostdark: #6b1035;
    --light: #ffbdd857;
    --text: #8e217f;
    --lightt: #45103e36;
    --lighter: #d7b8f2;
    --lightdark: #a91d95;
    --opacity: #f598be8c;
    --alty: #ffd8e8;
    --trans:transparent;
}


#content
{
	margin: 0 auto;
	width:80%;
	background-color: #f2f2f2;
	padding:0 3em;
	position: relative;
	top:0;
	bottom: 0;
	padding-bottom:5em;
	border:.0125em solid #F69B9A;
	border-top:none;
	border-bottom:none;
	box-shadow: 0 0 175px var(--almostMain);
	margin-top: 48px;
	z-index: 2;
}

img
{
	max-width: 100%;
	
}

#mainImageHolder{
	position:relative;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -1.3750em;
	padding: 1em;
	color: var(--darkest);
	font-weight: bold;
	font-size: 1.375rem;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}



.mySlides img
{
	max-width: 85%;
  margin-bottom: -3px;
  max-height: 70vh;
  box-shadow: 0 0 2em var(--mostdark);
}

.mySlides{
  display: none;
	text-align: center;
  background:  var(--alt);
  border: .15em solid var(--main);
  box-shadow: inset 1em -1em 3em var(--almostMain), 0 .5em 1em var(--dark);

}


/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev
{
	left: 0;
	border-radius: 3px 0 0 3px;
}

h1
{
  text-align: center;
  font-size: 4rem;
  font-family: Bubblegum;
  color: var(--main);
  padding: .5em 0;
  width: 100%;
  text-shadow: .075rem .075rem black;
}

.name img{
  height: 75px;
  position: absolute;
}

#imgOne
{
  top: 2em;
  left: 1em;
}

#imgTwo
{
  top: 2em;
  right: 1em;
}




@media screen and (min-width: 0px) and (max-width: 600px)
{
    .prev{
    	left:-5.5%;

    }

    .next{
    	right:-5.5%;
    }

    h1
    {
    	font-size:2rem;
    	line-height: 4rem;
    }

    body
    {
    	font-size: .75rem;
    	line-height: 1.125rem;
    }

    .mySlides img
    {
      max-width: 85%;
      margin-bottom: -5px;
    }

    .name img
    {
      display:  none; 
    }

}

@media screen and (max-width: 900px)
{
  .name img
  {
    display:  none; 
  }
}

@media screen and (min-width: 600px) and (max-width: 1020px)
{
    .prev{
    	left:0;

    }

    .next{
    	right: 0;
    }

    h1
    {
      font-size:3rem;
      line-height: 4rem;
    }

}

.prev:hover, .next:hover,
.prev:focus, .next:focus {
  background-color: var(--main);
  color:white;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 1em;
  width: 1em;
  margin: 0 2px;
  background-color: var(--alt);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: var(--darkest);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



.ornament
{
  font-family: BeautyAndTheBeast;
  padding: 0 .5rem;
}

#siteDescription
{
  margin-top: 2.5em;
  line-height: 1.2rem;
  
}

#siteDescription p
{
  border: .15em solid var(--main);
  border-width: 0 .15em .15em .15em ;
  padding: 1em;
  box-shadow: inset -1.3em -1em 2em var(--alty);
  height: 85%;
  border-bottom-right-radius: 10px;

  
}

.contentBox h2
{
  padding-top: .5em;
  text-align: center;
  font-size: 2rem;
  color: var(--darkest);
  font-family: "BubbleGum";
  background:  var(--alty);
  padding-bottom: .35em;
  border: .08em solid var(--main);
  letter-spacing: .1rem;
  box-shadow:  inset -.5em -.5em 1em var(--almostMain);
  border-top-left-radius: 10px;
  text-shadow: .075rem .075rem black;
}



.contentBox
{
  min-width: 350px;
  flex-basis: 45%;
  flex-grow: 5;
}

@media screen and (min-width: 0px) and (max-width: 600px)
{
  .contentBox
{
  min-width: 200px;
}
}


#siteDescription p .websiteTitle{
  font-size: 2rem;
  font-family: creamCake;
  color: var(--darkest);
  padding-right: .25rem;
  font-weight: bold;
  letter-spacing: .15rem;
}

#descriptionContainer
{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-direction: row;
  align-items: stretch;
  gap: 2em;
  flex-wrap: wrap;
}


#descriptionContainer .fab
{
  padding-right: .15em;
}

.noWrap
{
  white-space: nowrap;
}

a
{
  color: var(--darkest);
  font-weight: bold;
}

#recipeContainer
{
  width: 100%;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
}


#recipeContainer h2
{
  padding-top: .5em;
  padding-bottom: .35em;
  text-align: center;
  font-size: 2rem;
  color: var(--darkest);
  font-family: "BubbleGum";
  background:  var(--alty);
  width: 100%;
  border: .08em solid var(--main);
  letter-spacing: .1rem;
  box-shadow:  inset -.5em -.5em 1em var(--almostMain);
  border-top-left-radius: 10px;
  text-shadow: .075rem .075rem black;
}

#recipeBox
{
  display: flex;
  flex-direction: row;
  border: .15em solid var(--main);
  border-top: none;
  width: 100%;
  gap: .25em;
  overflow: scroll;
  border-bottom-right-radius: 10px;



}

#recipeBox::-webkit-scrollbar{
  display:  none; 
}


.recipe img
{
  width: 300px;
  height: 225px;
  box-shadow: 0 -.25em 1em var(--darkest);
  margin-bottom: .5em;
  border: 1px solid var(--darker);

}

.recipe h3
{
  text-align: center;
  margin-bottom: .5em;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--darkest);
}

.recipe
{
  border: .15em solid var(--main);
  max-width: 325px;
  text-align: center;
  background:  var(--light);
  box-shadow: inset 0 0 1em var(--alt);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-width: 250px;
}

.recipe p
{
  padding: .55em;
  padding-top: .35em;
  font-size: .75rem;
  text-align: left;

  
}

.recipeDescription{
  /*background:  var(--alt);*/
  padding: .25em;
  border-top: .1em solid var(--main);
  box-shadow: inset 1em 1em 2em var(--alty);
  font-weight: normal;
  color: var(--mostdark);
  height: 60px;
  border-bottom-right-radius: 10px;
  overflow-y: hidden;

}

.recipeContent
{
  padding: 1em;
  padding-bottom: 0;

}

.recipe a{
  text-decoration: none;
}

.recipe
{
  margin: .75em;
}