@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@font-face {
  font-family: "Bubblegum";
  src: url("Fonts/Bubblegum.ttf");
}

@font-face {
  font-family: "RedHands";
  src: url("Fonts/KGRedHands.ttf");
}

@font-face {
  font-family: "RedHandsOutline";
  src: url("Fonts/KGRedHandsOutline.ttf");
}

@font-face {
  font-family: "MilkyBoba";
  src: url("Fonts/MilkyBoba.otf");
}

@font-face {
  font-family: "BeautyAndTheBeast";
  src: url("Fonts/Beauty and the Beast Sample.otf");
  src: url("Fonts/Beauty and the Beast Sample.ttf");
}

@font-face {
  font-family: "CreamCake";
  src: url("Fonts/CreamCake.otf");
}

:root {
  --main: #f46fa5;
  --almostMain: #f598be;
  --alt: #ffbdd8;
  --altlight: #f3eafa;
  --dark: #eb4f8e;
  --darker: #f9609e;
  --darkest: #ff418e;
  --darkerest: #c63670;
  --mostdark: #6b1035;
  --light: #ffbdd857;
  --text: #8e217f;
  --lightt: #45103e36;
  --lighter: #eee1fa;
  --lightdark: #a91d95;
  --opacity: #f598be8c;
  --alty: #ffd8e8;
  --trans: transparent;
}

#content {
  margin: 0 auto;
  width: 80%;
  background-color: #f2f2f2;
  padding: 0 3em;
  position: relative;
  top: 0;
  bottom: 0;
  padding-bottom: 5em;
  border: 0.0125em solid #f69b9a;
  border-top: none;
  border-bottom: none;
  box-shadow: 0 0 175px var(--almostMain);
  margin-top: 48px;
  z-index: 2;
}

img {
  max-width: 100%;
}

#mainImageHolder {
  position: relative;
  margin-bottom:2em;
  width:100%;
}

#images{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  width: 5%;
  padding: 0 .25em;
  color: var(--darkest);
  font-weight: bold;
  font-size: 2.375rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-align: center;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}

@media screen and (min-width: 0) and (max-width:1020px){
  #images{
    display:block;
  }

  #nexPrevContainer{
    width:100%;
    display: flex;
    justify-content: space-between;
    gap:2em;
  }

  .prev,
  .next{
    position: relative;
    width:50%;
    background: var(--alty);
    opacity:.8;
    padding-top:.15em;
    padding-bottom:.15em;
  }

  .prev:hover,
.next:hover,
.prev:focus,
.next:focus {
  background-color: var(--main);
  color: white;
  text-shadow:1px 1px #000;
}

  
}

.mySlides img {
  max-width: 85%;
  max-height: 75vh;
  box-shadow: 0 0 2em var(--mostdark);
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.mySlides {
  display: none;
  text-align: center;
  background: var(--alt);
  border: 0.15em solid var(--main);
  box-shadow: inset 1em -1em 3em var(--almostMain), 0 0.5em 1em var(--dark);
  min-height: 75vh;
  max-height: 75vh;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  .mySlides {
    min-height: 30vh;
    max-height: 30vh;
  }

  #mainImageHolder {
    position: relative;
    margin-bottom:2.5em;
    width:100%;
  }

}

@media screen and (min-width: 600px) and (max-width: 1020px) {
  .mySlides {
    min-height: 55vh;
    max-height: 55vh;
  }
}

#mainImageHolder {
  overflow: hidden;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

h1 {
  text-align: center;
  font-size: 4rem;
  font-family: Bubblegum;
  color: var(--main);
  padding: 0.5em 0;
  width: 100%;
  text-shadow: 0.075rem 0.075rem black;
}

.name img {
  height: 75px;
  position: absolute;
}

#imgOne {
  top: 2em;
  left: 1em;
}

#imgTwo {
  top: 2em;
  right: 1em;
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  h1 {
    font-size: 1.75rem;
    line-height: 4rem;
  }

}

@media screen and (min-width: 450px) and (max-width: 600px) {

  h1 {
    font-size: 2rem;
    line-height: 4rem;
  }

  body {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }

  .mySlides img {
    max-width: 85%;
    margin-bottom: -5px;
  }

  .name img {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .name img {
    display: none;
  }
}

@media screen and (min-width: 600px) and (max-width: 1020px) {
  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }

  h1 {
    font-size: 3rem;
    line-height: 4rem;
  }
}

.prev:hover,
.next:hover,
.prev:focus,
.next:focus {
  /* background-color: var(--main); */
  color: white;
  text-shadow:1px 1px #000;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 1em;
  width: 1em;
  margin: 0 2px;
  background-color: var(--alt);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: var(--darkest);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.ornament {
  font-family: BeautyAndTheBeast;
  padding: 0 0.5rem;
}

#siteDescription {
  margin-top: 2.5em;
  line-height: 1.5rem;
}

#siteDescription p {
  padding: 1em;
  overflow-y: scroll;
  font-size: 0.95em;
}

.contentBox {
  border: 2px solid var(--main);
  box-shadow: inset -1.3em -1em 2em var(--alty), 0.1em 0.1em 0.5em var(--dark);
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  overflow: hidden;
}

#siteDescription p::-webkit-scrollbar {
  display: none;
}

.contentBox h2 {
  padding-top: 0.75em;
  text-align: center;
  font-size: 2rem;
  color: var(--darkest);
  font-family: "BubbleGum";
  background: var(--alty);
  padding-bottom: 0.55em;
  letter-spacing: 0.1rem;
  box-shadow: inset -0.5em -0.5em 1em var(--almostMain);
  border-bottom: 1px solid var(--main);
  text-shadow: 0.075rem 0.075rem black;
  border-top-left-radius: 10px;
}

.contentBox {
  min-width: 350px;
  flex-basis: 45%;
  flex-grow: 5;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  .contentBox {
    min-width: 250px;
  }
}

#siteDescription p .websiteTitle {
  font-size: 2rem;
  font-family: creamCake;
  color: var(--darkest);
  padding-right: 0.25rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
}

#descriptionContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-direction: row;
  align-items: stretch;
  gap: 2em;
  flex-wrap: wrap;
}

#descriptionContainer .fab {
  padding-right: 0.15em;
}

.noWrap {
  white-space: nowrap;
}

a {
  color: var(--darkest);
  font-weight: bold;
}

#recipeContainer {
  width: 100%;
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  box-shadow: 0.1em 0.1em 0.5em var(--dark);
  border: 0.15em solid var(--main);
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
}

#recipeContainer h2 {
  padding-top: 0.5em;
  padding-bottom: 0.35em;
  text-align: center;
  font-size: 2rem;
  color: var(--darkest);
  font-family: "BubbleGum";
  background: var(--alty);
  width: 100%;
  /* border: 0.08em solid var(--main); */
  letter-spacing: 0.1rem;
  box-shadow: inset -0.5em -0.5em 1em var(--almostMain);
  border-top-left-radius: 10px;
  text-shadow: 0.075rem 0.075rem black;
  border-bottom: 2px solid var(--main);
}

#recipeBox {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0.25em;
  box-shadow: inset -2em 2em 6em var(--alt);
  padding: 2em 0;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom-right-radius: 10px;
}

#recipeBox::-webkit-scrollbar {
  display: none;
}

.recipe img {
  width: 300px;
  height: 225px;
  margin-bottom: 0.5em;
  border: 1px solid var(--darker);
}

.recipe h3 {
  margin-bottom: 0.5em;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--darkest);
  width: 85%;
  position: relative;
  display: flex;
  justify-content: left;
  min-height: 2.5rem;

  /* 
  ! font-family: "RedHands";
  ! letter-spacing: .1em;
  * debating on trying this new font
   */
}

.recipe {
  border: 0.15em solid var(--main);
  max-width: 325px;
  text-align: center;
  background: var(--altlight);
  box-shadow: inset 0 0 1em var(--alt);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-width: 250px;
  height: fit-content;
}

.recipe p {
  padding: 0.55em;
  padding-top: 0.35em;
  font-size: 0.75rem;
  text-align: left;
  line-height: 1.4;
}

.recipeDescription {
  background: var(--alty);
  padding: 0.25em;
  border-top: 0.1em solid var(--main);
  box-shadow: inset -0.5em -0.5em 1.5em var(--alt);
  font-weight: normal;
  color: var(--mostdark);
  height: 4.5em;
  border-bottom-right-radius: 10px;
  overflow-y: hidden;
}

@media screen and (max-width: 600px) {
  .recipeDescription p {
    font-size: 0.7rem;
  }
}

.recipeContent {
  padding: 1em;
  padding-bottom: 0;
}

.recipe a {
  text-decoration: none;
}

.recipe {
  margin: 0.75em;
}

.recipe:hover,
.recipe:focus {
  transform: scale(1.04);
  transition: 0.4s;
  transition-timing-function: ease-in-out;
  box-shadow: 0 0 0.75em red;
}

.scrollToTopBtn {
  background-color: var(--alt);
  border: 1px solid var(--main);
  box-shadow: inset 0.25em 0.25em 0.5em var(--main), 0 0 2em #fff;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 48px;
  width: 48px;
  bottom: 30px;
  right: 30px;
  position: fixed;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease;
  text-shadow: 0 0.1rem black;
  z-index: 999;
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}

* {
  outline-color: red;
}

.eapps-instagram-feed {
  width: 100%;
  margin-top: 4em;
  border: 0.15em solid var(--main);
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: inset -2em 2em 6em var(--alt);
}

.es-header {
  border-top-left-radius: 10px;
}

.eapps-instagram-feed-header-user,
.eapps-instagram-feed-header-stats-item {
  padding: 1em;
}

.eapps-instagram-feed-header-user *,
.eapps-instagram-feed-header-stats-item * {
  color: var(--dark) !important;
}

.eapps-instagram-feed-header-stats {
  background: #fff;
  padding: 0 1em;
  border-radius: 5px;
}

.eapps-instagram-feed-header-stats,
a.eapps-instagram-feed-header-follow-button {
  background: #fff;
  border: 2px solid var(--main);
  box-shadow: 0.15em 0.15em 0.35em var(--main);
  font-family: "comfortaa";
  font-weight: bold;
  color: var(--dark);
  border-radius: 5px;
}

.collapseRecipe {
  border: none;
  position: absolute;
  top: 0.5em;
  right: 0;
  font-weight: bold;
  color: transparent;
  letter-spacing: 0.25em;
  background: transparent;
  font-size: 1.15rem;
  background-size: contain;
  background-image: url("Images/collapse.png");
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(0.9);
}

.collapseRecipe:hover {
  cursor: pointer;
  background-color: rgba(75, 75, 75, 0.075);
  border-radius: 50px;
}

.collpasedHeight {
  height: fit-content !important;
}

#recipeContainer {
  position: relative;
}

#btn--collapse {
  position: absolute;
  top: 1.5em;
  right: 2.5em;
  padding: 0.6em 1em;
  background: #fff;
  border: 2px solid var(--dark);
  box-shadow: 0.25em 0.25em 0.5em var(--main), inset -0.15em -0.15em 0.5em var(--alt);
  font-family: "comfortaa";
  font-weight: bold;
  color: var(--darkest);
  border-radius: 41px;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  font-family: "RedHands";
  font-size: 1rem;
  letter-spacing: 0.2rem;
}

#btn--collapse:hover {
  cursor: pointer;
  /* background: var(--alt); */
  color: var(--darkest);
  border-color: #d55286;
  box-shadow: 0.15em 0.15em 0.25em #d55286, inset -0.15em -0.15em 0.55em var(--dark);
}

@media screen and (max-width: 1050px) {
  #btn--collapse {
    position: relative;
    top: 0;
    right: 0;
    background: #fff;
    margin-top: 1em;
    font-size: 1rem;
    padding: 0.5em 1.5em;
  }
}

#btn--listView {
  display: none;
}

.recipe {
  transform: scale(1.02);
}

.note {
  font-family: "comfortaa";
  text-shadow: none;
  padding-top: 1.25em;
}

.disclaimer {
  color: red;
  font-size: 0.75rem;
  font-style: italic;
  font-weight: bold;
}

#instagram {
  z-index: 1 !important;
}

.iframeBox {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iframeOpen {
  display: block;
  position: fixed;
}

@media screen and (max-width: 600px) {
  .iframeBox {
    width: 95%;
    height: 70%;
  }
}

.recipe {
  transition: all 0.6s;
}

.modalBg {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 75px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modalInner {
  position: relative;
  width: 100%;
  height: 100%;
}

/* .visible {
  display: block;
}

.hidden {
  display: none;
} */

.previewRecipe {
  background: #fff;
  color: var(--dark);
  border: none;
  position: absolute;
  margin: auto;
  font-size: 0.75rem;
  padding: 0.25em 0.5em;
  border-bottom-right-radius: 10px;
  font-family: "comfortaa";
  font-weight: bold;
  letter-spacing: 0.025rem;
  border: solid var(--main);
  border-width: 0 1px 1px 0;
  box-shadow: 1px 1px 2px rgba(169, 168, 169, 0.4);
  top: 67px;
  left: 17px;
}

.previewRecipe:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: all 0.3s;
  box-shadow: 2px 2px 4px rgba(169, 168, 169, 0.8);
}

@media screen and (min-width: 450px) and (max-width: 600px) {
  .previewRecipe {
    top: 63px;
    left: 13px;
  }
}

.pushdown {
  position: absolute;
  top: 108px;
  right: 2px;
  left: 2px;
  width: 98%;
  background: rgb(255, 189, 216);
  background: linear-gradient(
    90deg,
    rgba(255, 189, 216, 0.28820960698689957) 16%,
    rgba(255, 255, 255, 1) 31%,
    rgba(255, 255, 255, 1) 73%,
    rgba(255, 189, 216, 0.20960698689956336) 87%
  );
  border: none;
  box-shadow: none;
  transition: background 0.4s;
  display: none;
}

.pushdown:hover {
  background: rgb(255, 189, 216);
  background: linear-gradient(
    90deg,
    rgba(255, 189, 216, 1) 16%,
    rgba(255, 255, 255, 1) 31%,
    rgba(255, 255, 255, 1) 73%,
    rgba(255, 189, 216, 1) 87%
  );
}

@media screen and (max-width: 600px) {
  .pushdown {
    top: 81px;
  }
}

#recipeSettingsImage {
  background-image: url("Images/egg2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  position: absolute;
  transform: scale(0.8);
  width: 9%;
  height: 65px;
  top: 0;
  left: 0;
  transition: 0.8s;
}

@media screen and (min-width: 750px) {
  #recipeSettingsImage:hover {
    transform-origin: center;
    transform: rotate(180deg) scale(0.8);
  }
}

#recipeSettingsImage:hover {
  cursor: pointer;
}

#settingsContainer {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#settingsTable th {
  color: #fff;
  margin-bottom: 0.75em;
  padding: 1.25rem 0;
  padding-bottom: 0.75rem;
  font-size: 1.5rem;
  background-color: var(--almostMain);
  font-family: "MilkyBoba";
  text-shadow: 0.05rem 0.05rem var(--mostdark);
}

#settingsTable th {
  box-shadow: inset 0 -7px 10px var(--main), inset 0 7px 10px var(--main);
  border-bottom: 1px solid var(--darker);
}

#settingsTable {
  margin: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#settingsTable td p {
  font-family: "comfortaa";
  font-size: 1rem;
  line-height: 1.6;
  color: var(--darkest);
  text-shadow: none;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  font-weight: bold;
  white-space: nowrap;
}

@media screen and (max-width: 700px) {
  #settingsTable td p {
    white-space: normal;
  }
}

#settingsTable td {
  /* border: 1px solid var(--mostdark); */
  vertical-align: middle;
  padding: 0.5em 1em;
}

#settingsTable tr td:first-child {
  background: #f2f2f2;
}

#settingsTable tr td:nth-child(2) {
  background: var(--alty);
}

#settingsTable tr:nth-child(1) th:first-child {
  border-top-left-radius: 25px;
}

#settingsTable tr:nth-child(1) th:last-child {
  border-top-right-radius: 25px;
}

#settingsTable tr:last-child td:first-child {
  border-bottom-left-radius: 25px;
}

#settingsTable tr:last-child td:last-child {
  border-bottom-right-radius: 25px;
}

#settingsTable {
  border-radius: 50px;
}

#recipes h2 {
  position: relative;
}

.onoffswitch {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid var(--darkerest);
  border-radius: 20px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: "comfortaa";
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "";
  padding-left: 10px;
  background-color: #f46fa5;
  color: #ffffff;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #eeeeee;
  color: #f53f88;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 18px;
  margin: 6px;
  background: #fce0eb;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  padding-right: 5px;
  border: none;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
  background: url("Images/egg2.png");
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(1.4);
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.closeButton {
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url("Images/exitOG.png");
  background-repeat: no-repeat;
  background-size: 32px 32px;
  top: 12px;
  right: 10px;
}

.closeButton:hover {
  transform: rotateY("90deg");
}

.closeButton:hover,
.closeButton:focus {
  cursor: pointer;
}

/* #overlayBottom
{
  background: red;
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 500px;
  display: none; 
}

#backDrop
{
  background: blue;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
} */

/* The Modal (background) */
.modalSettings {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 900; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modalSettingsContent {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.burnEgg {
  filter: invert(1) sepia(100%);
}

.previewHide {
  display: none !important;
}

.previewShow {
  display: block !important;
}

#mainImage:hover {
  cursor: pointer;
}


@media screen and (min-width: 0) and (max-width:1000px){
  #siteDescription
  {
    margin-top:.75em;
  }
}